/* PAGE Contact */

/* BANNIERE */

.main {
	margin: 20px;
	margin-top: 65px;
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
}

.main h2{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
}

.main img{
	max-width: 600px;
}

.texte{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
}

.liens{
	margin-top: 30px;
	padding-right: 160px;
	padding-left: 160px;
	display: flex;
	justify-content: center;
	justify-content: space-around;

 }

 @media screen and (max-width: 800px){

	.main { display: block;
 		align-items: center;
 		margin-right: auto;
 		margin-left:auto;
 		margin-top: 0px;
 		padding-top: 20px;
 	 }

 	.main img {
 		max-width: 80%;
 		margin-left: auto;
 		margin-right: auto; 
 	}

 	.main h2{
		text-align: center;
		font-family: 'Dancing Script', cursive;
		font-size: 35px;
	}

	.texte{
		margin-top: 15px;
		margin-right: auto;
		margin-left: auto;
		max-width: 75%;
		font-size: 15px;
	}

 	 .liens{
		margin-top: 15px;
		padding-right: 65px;
		padding-left: 65px;
	 }

 }
 	
