/* Général PAGE INDEX */

h1{ 
	font-size: 25px; 
}

h2{
	margin: 15px;
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
}

h3{
	margin-left: 15px;
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}

li{
 	display: flex;
 	justify-content: flex-end;
 }

/* PAGE 1 Acceuil */


.PP{ 
	width: 100%;
 	display: flex
}

.PP img { 
	width: 100%;
	max-height: 540px;
  	}

.main {
	text-align: center;
	padding: 30px 0;
}

.main p{ 
	margin-bottom: 12px;
}

.Container{
	width:100%;
	display:flex;
	margin-bottom: 70px;
	max-height: 550px;
} 

.Container img{
	max-height: 580px; 
	width: 100%;
	position: center;
}	

.Content {  
	justify-content: space-around 50px;
	max-height: 550px;
	max-width: 550px; 
}

.Content {
	position: absolute;
	background-color: #ffffff95;
	width: 35%;
	text-align: justify;
	padding: 20px;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.card3{ 
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;
}



/* Responsive  PAGE INDEX Accueil*/
@media screen and (max-width: 800px){


	.main p{
		margin-left: 20px;
		margin-right: 20px;
		text-align: justify;
	}

	.Content {
		width: 85%;
	}

	.Content h2{
		font-size: 17px;
	}

	.Content h3{
		font-size: 17px;
	}

	.Content p{
		font-size: 15px;
	}

	.Container {
		height: 750px;
	}

	.Container img {
		height: 750px;
	}

	.card3{
		display: block;
	}

	.card {
		display: block;
		margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
	}

}


